In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Data/casos_coronavirus_2021_03_18_1.csv', sep=',', low_memory=False)
df2 = pd.read_csv('Data/casos_coronavirus_2021_03_18_2.csv', sep=',', low_memory=False)
df3 = pd.read_csv('Data/casos_coronavirus_2021_03_18_3.csv', sep=',', low_memory=False)
df4 = pd.read_csv('Data/casos_coronavirus_2021_03_18_4.csv', sep=',', low_memory=False)
df5 = pd.read_csv('Data/casos_coronavirus_2021_03_18_5.csv', sep=',', low_memory=False)
df6 = pd.read_csv('Data/casos_coronavirus_2021_03_18_6.csv', sep=',', low_memory=False)
df7 = pd.read_csv('Data/casos_coronavirus_2021_03_18_7.csv', sep=',', low_memory=False)
df8 = pd.read_csv('Data/casos_coronavirus_2021_03_18_8.csv', sep=',', low_memory=False)
df9 = pd.read_csv('Data/casos_coronavirus_2021_03_18_9.csv', sep=',', low_memory=False)

In [3]:
df_database = pd.concat([df, df2, df3, df4, df5, df6, df7, df8, df9])

In [4]:
df_database.head()

,rownum,identificadorCaso,idRedcap,idEsus,idSivep,classificacaoEstadoRedcap,classificacaoEstadoEsus,classificacaoFinalEsus,evolucaoCasoEsus,cboEsus,...,tipoObitoMaterno,classificacaoFinalCasoSivep,gestante,tipoTesteEsus,obitoConfirmado,dataObito,classificacaoObito,localObito,tipoLocalObito,Unnamed: 63
0,1,aa45f85392a245d592481267a0b13cf1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,d0c8cf8bb2af78ee241e3a5e8334358f,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,23189feec83755287b977331d5e1018f,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,75b3993e7562fb95d29831f7b8691fcf,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,7de2ae4798005fcaadaea2c370b5b184,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
list_of_columns = df_database.columns
print(' ------- All tables and the numbers of not null values ------ \n')
for i in range(len(list_of_columns)):
    print(f'{list_of_columns[i]} : {df_database[list_of_columns[i]].notnull().sum()} ')

 ------- All tables and the numbers of not null values ------

rownum : 2236339
identificadorCaso : 2236339
idRedcap : 0
idEsus : 1338476
idSivep : 36721
classificacaoEstadoRedcap : 0
classificacaoEstadoEsus : 982670
classificacaoFinalEsus : 762646
evolucaoCasoEsus : 698643
cboEsus : 107735
profissionalSaudeEsus : 1338476
paisCaso : 691488
estadoCaso : 2194503
codigoMunicipioCaso : 2170557
municipioCaso : 2197616
bairroCaso : 1713088
bairroCasoGeocoder : 63038
sexoCaso : 2235890
idadeCaso : 2228387
faixaEtaria : 2228387
dataNascimento : 2228410
dataNotificacao : 1328278
dataInicioSintomas : 2236339
dataSolicitacaoExame : 740442
dataColetaExame : 1976397
dataResultadoExame : 1974106
resultadoFinalExame : 2131599
laboratorioExame : 2131599
classificacaoEstadoSivep : 32617
dataInternacaoSivep : 32205
dataEntradaUTISivep : 8637
dataSaidaUTISivep : 4190
evolucaoCasoSivep : 27885
dataEvolucaoCasoSivep : 25981
comorbidadePuerperaSivep : 10039
comorbidadeCardiovascularSivep : 16242
comorbidadeHematologiaSivep : 10086
comorbidadeSindromeDownSivep : 10038
comorbidadeHepaticaSivep : 10037
comorbidadeAsmaSivep : 10323
comorbidadeDiabetesSivep : 15214
comorbidadeNeurologiaSivep : 10621
comorbidadePneumopatiaSivep : 10346
comorbidadeImunodeficienciaSivep : 10225
comorbidadeRenalSivep : 10388
comorbidadeObesidadeSivep : 10486
comorbidadeHiv : 0
comorbidadeNeoplasias : 0
tipoTesteExame : 2131510
requisicaoGal : 746888
racaCor : 1848676
dataNotificacaoObito : 18228
cnesNotificacaoEsus : 1063902
municipioNotificacaoEsus : 1314865
tipoObitoMaterno : 151
classificacaoFinalCasoSivep : 29064
gestante : 8540
tipoTesteEsus : 1167902
obitoConfirmado : 15267
dataObito : 18223
classificacaoObito : 18227
localObito : 17121
tipoLocalObito : 14511
Unnamed: 63 : 9

In [6]:
#Unique values to the identificadorCaso. Person ID
cases = len(df_database['identificadorCaso'].unique())
#Unique values to the bairroCaso. Neighborhoods ID.
neighborhoods = len(df_database['bairroCaso'].unique())

In [7]:
print(f'Number of individual neighborhoods: {cases}')
print(f'Number of individual neighborhoods: {neighborhoods}')

Number of individual neighborhoods: 1500580
Number of individual neighborhoods: 42747

In [8]:
#Number of neighborhoods terms for Fortaleza City
df_fortaleza = df[df['municipioCaso']=='FORTALEZA']
len(df_fortaleza['bairroCaso'].unique())

2950

In [9]:
df_fortaleza['bairroCaso'].unique()

array([nan, 'MONDUBIM', 'BELA VISTA', ..., 'SERVE LUZ', 'VILA PARY',
       'BELAVISTA'], dtype=object)

In [10]:
#Exames tipes
df['tipoTesteExame'].unique()

array(['RT-PCR', 'QuimioluminescÃªncia', 'ELISA', 'NÃ£o Informado', nan,
       'ECLIA', 'Teste RÃ¡pido', 'Confirmado ClÃ­nico-EpidemiolÃ³gico',
       'Confirmado por CritÃ©rio ClÃ­nico', 'CLIA', 'Imunocromatografia',
       'EletroquimioluminescÃªncia', 'Confirmado ClÃ­nico-Imagem'],
      dtype=object)

In [11]:
# -----

In [12]:
df_localidade = pd.read_csv('Data/casos_coronavirus_localidade_2021_03_18_1.csv', sep=',')
df_localidade2 = pd.read_csv('Data/casos_coronavirus_localidade_2021_03_18_2.csv', sep=',')
df_localidade3 = pd.read_csv('Data/casos_coronavirus_localidade_2021_03_18_3.csv', sep=',')
df_localidade4 = pd.read_csv('Data/casos_coronavirus_localidade_2021_03_18_4.csv', sep=',')
df_localidade5 = pd.read_csv('Data/casos_coronavirus_localidade_2021_03_18_5.csv', sep=',')
df_localidade6 = pd.read_csv('Data/casos_coronavirus_localidade_2021_03_18_6.csv', sep=',')
df_localidade7 = pd.read_csv('Data/casos_coronavirus_localidade_2021_03_18_7.csv', sep=',')
df_localidade8 = pd.read_csv('Data/casos_coronavirus_localidade_2021_03_18_8.csv', sep=',')
df_localidade9 = pd.read_csv('Data/casos_coronavirus_localidade_2021_03_18_9.csv', sep=',')

In [13]:
df_localidade_database = pd.concat([df_localidade, df_localidade2, df_localidade3, df_localidade4, df_localidade5, df_localidade6, df_localidade7, df_localidade8, df_localidade9])

In [14]:
df_localidade_database.head()

,rownum,paisCaso,estadoCaso,municipioCaso,codigoMunicipioCaso,bairroCaso,cepCaso
0,30212,NaN,CE,RUSSAS,231180.0,MUTIRAO VELHO,62900000.0
1,43066,NaN,CE,IGUATU,230550.0,ALTIPLANO,63500000.0
2,209589,BRASIL,CE,RUSSAS,231180.0,NaN,NaN
3,63119,BRASIL,CE,ITAPIPOCA,230640.0,CACIMBAS,NaN
4,5575,NaN,CE,PACAJUS,230960.0,ALDEIA PARK,62870000.0

In [15]:
list_of_columns = df_localidade_database.columns
print(' ------- All tables and the numbers of not null values ------ \n')
for i in range(len(list_of_columns)):
    print(f'{list_of_columns[i]} : {df_localidade_database[list_of_columns[i]].notnull().sum()} ')

 ------- All tables and the numbers of not null values ------

rownum : 2236339
paisCaso : 691488
estadoCaso : 2194503
municipioCaso : 2197616
codigoMunicipioCaso : 2170557
bairroCaso : 1713088
cepCaso : 1527354

In [16]:
np.count_nonzero(df_localidade_database['cepCaso'].unique())

50446

In [17]:
#Line example
df_localidade_database[df_localidade_database['rownum']==80]

,rownum,paisCaso,estadoCaso,municipioCaso,codigoMunicipioCaso,bairroCaso,cepCaso
42016,80,NaN,CE,FORTALEZA,230440.0,MONDUBIM,60000000.0

In [18]:
#---------------------------

In [20]:
df_final = pd.merge(df_database,df_localidade_database, how="inner", on=["rownum", "rownum"])

In [22]:
df_final.head()

,rownum,identificadorCaso,idRedcap,idEsus,idSivep,classificacaoEstadoRedcap,classificacaoEstadoEsus,classificacaoFinalEsus,evolucaoCasoEsus,cboEsus,...,classificacaoObito,localObito,tipoLocalObito,Unnamed: 63,paisCaso_y,estadoCaso_y,municipioCaso_y,codigoMunicipioCaso_y,bairroCaso_y,cepCaso
0,1,aa45f85392a245d592481267a0b13cf1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,CE,FORTALEZA,230440.0,NaN,NaN
1,2,d0c8cf8bb2af78ee241e3a5e8334358f,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,23189feec83755287b977331d5e1018f,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,BRASIL,CE,FORTALEZA,230440.0,NaN,NaN
3,4,75b3993e7562fb95d29831f7b8691fcf,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,BRASIL,CE,FORTALEZA,230440.0,NaN,NaN
4,5,7de2ae4798005fcaadaea2c370b5b184,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,BRASIL,CE,FORTALEZA,230440.0,NaN,NaN